{% extends "interface/blancolayout.html" %}


{% block body%}
<body>
<div class="wrapper">
    <div class="header">
            <p id="head">blanco</p>
    </div>
    <div class="content">
        <p id="about">About</p>
        <section id="abt">
            we are blanco is a community web application
            created by artistic developers for the purpose of
            showcasing the best art from all artists around the world.
        </section>
        <p id="about">Our goal</p>
        <section id="abt">
            We focus on the uplifting of all talents of developers and graphic artists
            to achieve higher standards in their carriers, We showcase the best art and 
            developer productions from all people around the world. 
        </section>
    </section>
    <p id="about">Get featured</p>
    <section id="abt">
        To get your work featured on our webapp please submit your work
        to blanco@gmail.com, giving us all proper details to your work identification and 
        your social media handle to allow the community to follow you on social media.
    </section>
    </div>
    <div class="footer">
        <div class="media">
            <p> Social media </p>
            <p> <i class='bx bxl-instagram icon'></i>
                <a href="#instagra">instagram</a>
            </p>
            <p>
                <i class='bx bxl-twitter icon'></i>
                <a href="#twitter">twitter</a>
            </p>
            <p>
                <i class='bx bxl-github icon'></i>
                <a href="#github">github</a>
            </p>
            
        </div>
        <div class="email">
            <p> Address </p>
        <p><i class='bx bx-envelope icon' ></i>
            <a href="#email">blanco@gmail.com
            </a></p>
        </div>
        <div class="quote">
            <p> Developer </p>
            <p><a href="#none">copyright | 2022</a></p>
        </div>
    </div>
</div>
</body>
{% endblock %}
