@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    top: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.login-wrapper{
    display: block;
    height: 430px;
    width: 300px;
    border-radius: 8px;
    background-color: rgba(170, 133, 133, 0.1);
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
}
.fields{
    display:inline-block;
    text-align: center;
    width:95%;
    margin-top: 30px;
    margin-right: 5%;
}
.fields #username{
    padding: 8px;
    border-radius: 8px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
    background-color: #FFF;
    border: none;
    outline: none;
    width: 180px;
}
.user{
    font-size: 18px;
    color: #707070;
}
.fields2{
    display:inline-block;
    text-align: center;
    width:95%;
    margin-top: 30px;
    margin-right: 5%;
}
.pas{
    font-size: 18px;
    color: #707070;
}
.fields2 #password{
    padding: 8px;
    border-radius: 8px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
    background-color: #FFF;
    border: none;
    outline: none;
    width: 180px;
}
.head-name{
    display:inline-block;
    text-align: center;
    width:100%;
}
.head{
    font-size: 20px;
    color: #707070;
}
.submit-login-form{
    display: block;
    text-align: center;
    margin-top: 45px;
}
.backbutton{
    display: block;
text-align: center;
margin-top:10px;
}
.submit-login-form #login-submit{
    padding: 8px;
    border-radius: 8px;
    width: 85px;
    color: #FFF;
    background-color: rgb(0, 183, 255);
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
    border: none;
    outline: none;
}
.submit-login-form #login-submit:hover{
    background-color: #FFF;
    cursor: pointer;
    color: rgb(0, 183, 255);
    transition: all 0.15s ease;
}
.submit-login-form #login-submit:active{
    opacity: 80%;
    transition: opacity 0.15s ease;
}
#back{
    padding: 8px;
    border-radius: 8px;
    width: 85px;
    color: #FFF;
    background-color:#6AB187;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
    border: none;
    outline: none;
}
#back:hover{
    background-color: #FFF;
cursor: pointer;
color: #6AB187;
transition: all 0.15s ease;
}
#back:active{
    opacity: 80%;
transition: opacity 0.15s ease;
}
.circle{
    font-size: 46px;
    margin-top: 20px;
    color: #707070;
}
.login-wrapper .login-logo{
    text-align: center;
    display: block;
}
.forgot-pass{
    display:inline-block;
    text-align: center;
    width:100%;
    margin-top: 17px;
    margin-bottom: 0;
}
.forgot-pass #pas-text{
    font-size: 9px;
    color: #707070;
    text-decoration: none;
}
.terms{
    font-size: 9px;
    color: #707070;
    text-align: center;
}
.terms a{
    text-decoration: none;
    color: rgb(0, 183, 255);
}
.check2{
    display:inline-block;
    text-align: center;
    width:95%;
    margin-right: 5%;
}
.error {
    margin-top: 1px;
    color: red;
    font-size: 12px;
    text-align: center;
}
@media only screen and (max-width = 1240px){
    .login-wrapper{
        width: 100%;
    }
}