@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Qwitcher+Grypen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins&family=Qwitcher+Grypen&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Poppins', sans-serif;
}
.wrapper {
    display: flex;
    flex-direction:column;
    background-color:#333;
    height:max-content;
    width:60% ;
    margin-left: auto;
    margin-top: 72px;
}
.user{
    float: left;
    margin-left: 0.3%;
    padding: 0;
    width:19.8%;
    height: 370px;
    background-color: #333;
}
.user .QNS{
    width: 85%;
    background-color: rgba(209, 209, 209, 0.1);
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-top: 20px;
    padding: 7px;
}
.user #username{
    font-size: 18px;
    color: #FFF;
    font-weight: 400;
}
.user p{
    font-size: 14px;
    color: rgb(177, 157, 157);
    font-weight: 400;
    padding: 0;
}
.user .QNS a{
    text-decoration: none;
    color: rgb(177, 157, 157);
}
.blanco{
    float: right;
    margin-left: 0.3%;
    margin-right: 0.3%;
    padding: 0;
    width:19%;
    height: 450px;
    background-color: #333;
}
.blanco .intro{
    width: 85%;
    background-color: rgba(209, 209, 209, 0.1);
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-top: 20px;
    padding: 7px;
}
.blanco .QNS{
    width: 85%;
    background-color: rgba(209, 209, 209, 0.1);
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-top: 5px;
    padding: 7px;
}
.user .welcome{
    width: 85%;
    background-color: rgba(209, 209, 209, 0.1);
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-top: 15px;
    padding: 7px;
}
.blanco .QNS a{
    text-decoration: none;
    color: aquamarine;
}
.blanco #new{
    font-size: 22px;
    color: #FFF;
}
.blanco #new #head{
    font-size: 32px;
    color: aqua;
}

.top-nav{
    top: 0;
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 70px;
    background-color: #333;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.top-nav .lists{
    float: right;
    margin-right: 60px;
}
.top-nav .list-search {
    width: 35%;
    margin-top: 24px;
    margin-right: auto;
    margin-left: auto;
}
.top-nav .logo{
    float: left;
    width: 25%;
    margin-top: 15px;
}
.top-nav .logo .logo-name{
    font-size: 34px;
    color: #FFF;
    margin-left: 20px;
    font-family: ;
}
.top-nav .list-search{
    margin-top: 5px;
}
.top-nav .list-search .search-bar {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
#bar {
    padding: 8px;
    width: 250px;
    border-radius: 10px;
    outline: none;
    font-size: 18px;
    background-color: #FFF;
    border: 1px solid black;
}
.searchbtn {
    margin: 0;
    padding: 8px;
    width: 75px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #FFF;
    color: #333;
    margin-left: 3px;
}
.searchbtn:hover {
    cursor: pointer;
    background-color:  rgb(0, 183, 255);
    color: #FFF;
    transition: all 0.15s ease;
}
.searchbtn:active{
    opacity: 50%;
    transition: opacity 0.15s ease;
}
.lens {
    font-size: 20px;
    margin: 0;
    color: #707070;
}
.lens:hover{
    color: #FFF;
    transition: all 0.15s ease;
}
.top-nav .lists .list .items{
    list-style: none;
    margin-top: 20%;
}
.top-nav .lists .list .items #out{
    padding: 10px;
    width: 75px;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    border: none;
    color: #FFF;
    background-color: rgb(0, 183, 255);
    font-family: sans-serif;
}
.top-nav .lists .list .items #out:hover{
    color: rgb(0, 183, 255);
    background-color:#FFF ;
    cursor: pointer;
    transition: all 0.15s ease;
}
.top-nav .lists .list .items #out:active{
    opacity: 50%;
    transition: opacity 0.15s ease;
}
.post-sys{
    padding: 2px;
    margin-top: 50px;
    height: 480px;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(0, 0, 0, 0.1);
}
.post-sys .image-post{
    display: flex;
    padding: 5px;
    flex-direction:row;
    background-color: rgba(0, 0, 0, 0.2);
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: 80%;
}
.post-sys .image-post .image{
    width: 100%;
    height: 100%;
}
.post-sys .likes {
    display: flex;
    align-items: center;
    padding: 5px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 10%;
}
.post-sys .likes #like{
    padding: 2px;
    align-items: center;
    border-radius: 5px;
    height: 35px;
    width: 75px;
    color: #FFF;
    background-color: green;
    border: 1px;
    outline: none;
    margin-top: 3px;
}
.post-sys .likes #like:active{
    opacity: 60%;
    transition:  opacity 0.15s ease;
}
.post-sys .likes #like:hover{
    cursor: pointer;
    transition: all 0.15s ease;
}
.post-sys .likes #like_count{
    margin-left: 25px;
}
.post-sys .image-post .descript{
    margin-left: 20px;  
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #FFF;
}
.post-sys .image-post .descript h5{
    margin-bottom: 0;
}
nav .logo{
    display: flex;
    padding: 0 24px;
    align-items: center;
}
.logo .menu-icon{
    font-size: 34px;
    cursor: pointer;
    color: #707070;
}
.logo #logo-name{
    font-size: 24px;
    color: #333;
}
.logo #logo-name1{
    font-size: 24px;
    color: #FFF;
}
nav .side-bar{
    width: 270px;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    background: #FFF;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease ;
}
nav.open .side-bar{
    left: 0;
}
.side-bar .sidebar-items{
    padding: 30px 16px;
}
.side-bar .sidebar-items .lists{
    list-style: none;
}
.list .nav-link{
    text-decoration: none;
    display: flex;
    padding: 14px 12px;
    border-radius: 8px;
    align-items: center;
}
.nav-link .icon{
    margin-right: 5px;
    font-size: 22px;
    color: #707070;
}
.nav-link .link{
    font-size: 20px;
    color: #707070;
    font-weight: 400;
}
.nav-link .link:hover{
    color: #FFF;
    transition: background-color ease 0.15s;
}
.nav-link .icon:hover{
    color: #FFF;
    transition: background-color ease 0.15s;
}
.list .nav-link:hover{
    background-color: #333;
    cursor: pointer;
    transition: background-color ease 0.15s;
}
.list .nav-link:active{
    opacity: 50%;
    transition: opacity ease;
}
@media only screen and (max-width: 980px) {
    .post, .user, .blanco, .wrapper{
        width: 100%;
        transition: all 0.15s ease;       
    }
    .post-sys .image-post .descript{
        font-size: 12px;
        transition: all 0.15s ease;  
    }
    .top-nav .list-search {
        width: 100%;
    }
    .post-sys .image-post{
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    .post-sys{
        height: 600px;
        margin-top: 210px;
    }
    .top-nav .logo{
        float: left;
        width: 0px;
        margin-top: 15px;
        transition: all 0.15s ease;
    }
    .top-nav .logo .logo-name{
        font-size: 0px;
        color: #FFF;
        transition: all 0.15s ease;
    }
    .list-search{
        display: none;
        transition: 0.15s ease;
    }
    .user{
        margin: 0;
        overflow: hidden;
        position: fixed;
        height: 200px;
        transition: all 0.15s ease;
    }
    .blanco{
        display: none;
        margin: 0px;
    }
    .profile-info{
        display: flex;
    }
    .user .QNS{
        width: 24%;
        background-color: rgba(209, 209, 209, 0.1);
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        margin-top: 20px;
        padding: 5px;
    }
    .top-nav{
        margin: 0;
    }
    .user .QNS a p{
        text-align: center;
    }
}
@media only screen and (min-width: 1500px){
    .post-sys{
        height: 700px ;
    }
}

    
     

